
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* FORM */

#form_container {
    border: 1px solid #111;
    padding: 10px;
}

#form_container h3 {
    margin: 0px;
    padding-bottom: 10px;
}

#form_container fieldset, #list_container fieldset {
    border: none;
    margin: 0;
    padding: 0px 0px 10px 0px;
}

#form_container label, #list_container label {
    float: left;
    width: 90px;
}

/* LIST */

#list_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.place_section {
    background-color: #eee;
    border: 1px solid #333;
    margin: 10px 0px;
    padding: 20px;
    max-width: 400px;
}

.place_section h3, p {
    margin: 0;
}

.place_section p {
    padding-bottom: 10px;
}

.place_section button {
    margin-right: 10px;
}